
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.background{
    background-color: white;
}

.Video_I{
    margin-left: 295px;
}

.Video_I video{
    object-fit: cover;
}

.text_1{
    color: black;
    font-size: 40px;
    text-align: center;
}

.lead{
    color: white;
    text-shadow: 7px 7px 5px #FFBF00;
    font-size: 200px;
    text-align: center;
    margin-top: -15px;
}

.koestervid{
    height: 200px;
    margin-left: 40px;
    margin-top: 210px;
}

.text_sub{
    color: black;
}

.text_sub_2{
    color: black;
    text-align: left;
    margin-left: 185px;
}

.Video_2{
    text-align: right;
    margin-right: 40px;
    margin-top: -450px;
}

.Hello_Human{
    margin-top: 50px;
}

.HH_img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.img1:hover{
    width: 1000px;
}

.HH_video{
    margin-right: 150px;
}

.shareflow{
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.shareflow_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.visuals{
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img_dog{
    margin-right: 1500px;
    margin-top: 80px;
    float: left;
}

.contactbox{
    width: 300px;
    font-size: 30px;
    background-color: black;
    color: white;
    float: right;
}
